.DS_Store
.idea/
.python-version
.tern-port
.vscode/

contract/logs/pact.log
coverage/
jsconfig.json
lib/
node_modules/
npm-debug.log

!packages/sui-sass-loader/test/server/fixtures/**/node_modules
packages/sui-codemod/COMMANDS
packages/sui-studio/test/server/integration/empty-studio/components/fake/**
packages/sui-studio/test/server/integration/empty-studio/components/fake/componentnvim
packages/sui-studio/test/server/integration/empty-studio/demo/fake/**
packages/sui-studio/test/server/integration/empty-studio/test/fake/**
packages/sui-studio/test/server/integration/sample-studio/components/atom/button/node_modules/
packages/sui-studio/test/server/integration/sample-studio/node_modules/
packages/sui-studio/test/server/integration/sample-studio/public

repopack-output.txt
repopack.config.json
.repopackignore

**/umd/*.js
