@mixin reset-basic {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

@mixin reset-link {
  color: $c-text-base;
  text-decoration: none;
}

// For: ul, ol...
@mixin reset-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@mixin reset-button {
  background: none;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  user-select: none;

  &:focus {
    outline: 0;
  }
}

@mixin reset-hr {
  border: 0;
  margin: 0;
}
