$c-link: $c-primary !default;
$c-link-negative: $c-white !default;

$c-link-hover: $c-primary-dark !default;
$c-link-negative-hover: $c-white !default;

$ff-link: $ff-sans-serif !default;
$fw-link: normal !default;
$fz-text-link: $fz-base !default;

$lh-link: $lh-l !default;

$td-text-link: underline !default;
$td-hover-text-link: none !default;

@mixin link($negative: false) {
  color: if($negative, $c-link-negative, $c-link);
  font-family: $ff-link;
  font-stretch: normal;
  font-style: normal;
  font-weight: $fw-link;
  letter-spacing: normal;
  line-height: $lh-link;
  text-align: left;

  &:hover,
  &:active {
    color: if($negative, $c-link-negative-hover, $c-link-hover);
    text-decoration: underline;
  }
}

@mixin h1 {
  font-size: $fz-h1;
  font-weight: $fw-bold;
  margin: 0 0 $m-m;
}

@mixin h2 {
  font-size: $fz-h2;
  font-weight: $fw-bold;
  margin: 0 0 $m-m;
}

@mixin h3 {
  font-size: $fz-h3;
  font-weight: $fw-bold;
  margin: 0 0 $m-s;
}

@mixin h4 {
  font-size: $fz-h4;
  font-weight: $fw-bold;
  margin: 0 0 $m-s;
}

@mixin h5 {
  font-size: $fz-h5;
  font-weight: $fw-bold;
  margin: 0 0 $m-s;
}

@mixin text-link {
  color: $c-text-link;
  font-size: $fz-text-link;
  text-decoration: $td-text-link;

  &:hover {
    text-decoration: $td-hover-text-link;
  }
}

@mixin text-highlighted {
  background-color: $c-highlight;
}

@mixin font-rendering {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
