// --- Mixins --- //

// Placeholder
@mixin input-placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

// Appearance
@mixin appearance($value) {
  -moz-appearance: $value;
  -webkit-appearance: $value;
  appearance: $value;

  &::-ms-expand {
    display: none;
  }
}

//.sui-Form {
//  @include form-field(input);
//}

//<div class="sui-AtomInput sui-AtomInput--success">
//  <label for="text">Simple text input</label>
//  <div class="sui-AtomInput-inputWrapper sui-AtomInput--medium">
//    <input class="sui-AtomInput-input" label="Simple text input" placeholder="Input + placeholder" type="text">
//  </div>
//</div>

@mixin form-field($field) {
  &-#{$field} {
    border-color: $c-gray-light;
    border-style: solid;
    border-width: $bdw-s;
    font-size: $fz-base;
    padding-left: $p-l;
    padding-right: $p-l;
    width: 100%;

    &:not(:disabled)::placeholder {
      color: $c-gray-dark;
    }

    &:disabled {
      background: $c-gray-lightest;

      &::placeholder {
        color: $c-gray-light;
      }
    }

    &:focus {
      box-shadow: inset 0 0 3px 0 $c-primary;
    }
  }

  @include field-size(input);
}

// Size for form elements
@mixin field-size($field) {
  $size: null !default;
  @if ($field == 'input') {
    $size: medium 40px, small 30px;
  } @else if($field == 'textarea') {
    $size: medium 400px, small 200px;
  }

  @each $type, $h in $size {
    &--#{$type} {
      #{$field} {
        height: $h;
      }
    }
  }
}
