// --- Grid --- //

// Description:
// Provide a util mixins for generate your layout.

// Usage:

// --- grid-parent --- //
// The $gap is negative margin of column spacing.
// @include gridg-parent(8px); // Create grid parent with 8px of gap

// --- grid-flex-basis --- //
// The $columns is 12 columns based.
// @include grid-flex-basis(6); // Added a `6/12` columns of width.

// --- grid-value --- //
// @include grid-value(xs, 6); // Added a `xs` breakpoint, 6 columns
// @include grid-value(sm, 12); // Added a `sm` breakpoint, 12 columns

@use 'sass:math';

$grid-columns: 12;

@mixin grid-parent($gap) {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 (-$gap);
}

@mixin grid-flex-basis($columns) {
  min-width: math.div(100%, $grid-columns) * $columns;
}

@mixin grid-value($breakpoint-name, $columns) {
  @include media-breakpoint-up($breakpoint-name) {
    @include grid-flex-basis($columns);
  }
}
