// --- SUI List --- //
// @include sui-list;
// @include sui-list('inline');
// @include sui-list('grow');

@mixin sui-list-gutter($m-list-gutter: $gutter-s) {
  margin-left: $m-list-gutter;
}

@mixin sui-list($type: 'block', $m-list-gutter: $gutter-s) {
  @include reset-list;
  display: flex;

  @if $type == 'block' {
    flex-direction: column;
  } @else {
    flex-direction: row;
    margin-left: -$m-list-gutter;
  }

  &-item {
    @if $type == 'inline' {
      flex: 0 0 auto;
      @include sui-list-gutter($m-list-gutter);
    }

    @if $type == 'grow' {
      @include sui-list-gutter($m-list-gutter);
      flex: 1 1 100%;
    }

    @if $type == 'grow-custom' {
      @include sui-list-gutter($m-list-gutter);
      @content;
    }
  }
}
