// --- Opacity --- //

// alpha parameter for rgba Colors
// @include bgcolor-opacity($c-black);

@mixin bgcolor-opacity($color) {
  background-color: color-mix(in srgb, $color 100%, transparent);

  @each $value in $c-opacity {
    &-#{$value} {
      background-color: color-mix(in srgb, $color #{'#{$value}%'}, transparent);
    }
  }
}

@mixin bgcolor-overlay-opacity($color) {
  @each $value in $c-opacity {
    &-overlay-#{$value} {
      position: relative;

      &::before {
        background-color: color-mix(in srgb, $color #{'#{$value}%'}, transparent);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }
    }
  }
}
