@mixin hide-scrollbar {
  /* hide scrollbar on Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    /* to make it work on iOS devices */
    background: transparent;
    display: none;
    height: 0;
    width: 0;
  }

  /* hide scrollbar on IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
