// DESCRIPTION:
//
// Provides a basic spacing classes library based in emmet convection
//
// USAGE:
//
// In your vertical theme...
//
// @import '~/@s-ui/theme/lib/classes';
//
// GENERATE:
//
// .m-m {
//   margin: 8px;
// }
// .m-s {
//   margin: 4px;
// }
//
//....
//
// .mt-m {
//   margin-top: 8px;
// }
// .mt-s {
//   margin-top: 4px;
// }
//
//....

@mixin create-space($space, $side, $sizes) {
  $sd: str-slice($side, 1, 1);
  $sp: str-slice($space, 1, 1);
  $symbol: '-';

  @if ($side == '') {
    $sd: '';
    $symbol: '';
  }

  @each $size, $value in $sizes {
    .#{$sp}#{$sd}-#{$size} {
      #{$space}#{$symbol}#{$side}: $value;
    }
  }
}
