@mixin calc-font-size($font-size, $font-weight, $letter-spacing, $line-height) {
  font-size: $font-size;
  font-family: $ff-sans-serif;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin font-size($type) {
  @if $type == 'large-title' {
    @include font-size-title1;

    @include media-breakpoint-up(s) {
      @include font-size-large;
    }
  }
  @if $type == 'title1' {
    @include font-size-title2;

    @include media-breakpoint-up(s) {
      @include font-size-title1;
    }
  }
  @if $type == 'title2' {
    @include font-size-title3;

    @include media-breakpoint-up(s) {
      @include font-size-title2;
    }
  }
  @if $type == 'headline1' {
    @include font-size-headline2;

    @include media-breakpoint-up(s) {
      @include font-size-headline1;
    }
  }
  @if $type == 'headline2' {
    @include font-size-headline2;
  }
  @if $type == 'body1' {
    @include calc-font-size($fz-body1, $fw-body1, $ls-body1, $lh-body1);
  }
  @if $type == 'body2' {
    @include calc-font-size($fz-body2, $fw-body2, $ls-body2, $lh-body2);
  }
  @if $type == 'callout' {
    @include calc-font-size($fz-callout, $fw-callout, $ls-callout, $lh-callout);
  }
  @if $type == 'caption' {
    @include calc-font-size($fz-caption, $fw-caption, $ls-caption, $lh-caption);
  }
  @if $type == 'overline' {
    @include calc-font-size($fz-overline, $fw-overline, $ls-overline, $lh-overline);
  }
}

@mixin font-size-large {
  @include calc-font-size($fz-large-title, $fw-large-title, $ls-large-title, $lh-large-title);
}
@mixin font-size-title1 {
  @include calc-font-size($fz-title1, $fw-title1, $ls-title1, $lh-title1);
}
@mixin font-size-title2 {
  @include calc-font-size($fz-title2, $fw-title2, $ls-title2, $lh-title2);
}
@mixin font-size-title3 {
  @include calc-font-size($fz-title3, $fw-title3, $ls-title3, $lh-title3);
}
@mixin font-size-headline1 {
  @include calc-font-size($fz-headline1, $fw-headline1, $ls-headline1, $lh-headline1);
}
@mixin font-size-headline2 {
  @include calc-font-size($fz-headline2, $fw-headline2, $ls-headline2, $lh-headline2);
}

// CSS image replacement
@mixin text-hide {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0 / 0 serif;
  text-shadow: none;
}
// Truncate
@mixin truncate($max-width: 100%, $text-overflow: ellipsis) {
  max-width: $max-width;
  overflow: hidden;
  text-overflow: $text-overflow;
  white-space: nowrap;
}
