@import '../../../../src/components/preview/style';

.Header {
  align-items: center;
  background: color-mix(
    in srgb,
    color-mix(in srgb, var(--studio-c-on-surface) 60%, var(--studio-c-primary)),
    transparent 10%
  );
  border-radius: 8px;
  bottom: 16px;
  color: var(--studio-c-surface, #000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  position: absolute;
  right: 32px;
  z-index: 2;

  &-actions {
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 0 0 0;
    color: var(--studio-c-surface, #000);
  }

  &-link {
    color: inherit;
    font-size: 12px;
    padding-left: 8px;
    text-decoration: none;
    vertical-align: middle;
  }

  &-title {
    font-size: 16px;
    display: block;
    margin: 0 0 24px;
    font-weight: 600;
  }
}
