.sui-studio-doc-box {
  padding: 1em 2em;
  border-radius: 4px;
  background: $c-sui-studio-doc-white;
  border-width: 1px;
  border-style: solid;
  border-color: $c-sui-studio-doc-white;
  &-mode-dark {
    border-width: 1px;
    border-style: solid;
    border-color: $c-sui-studio-doc-g900;
    background: $c-sui-studio-doc-g900;
  }
  &.sui-studio-doc-box-outline {
    background: $c-sui-studio-doc-white;
    border-width: 1px;
    border-style: solid;
    border-color: $c-sui-studio-doc-g900;
    &.sui-studio-doc-box-mode-dark {
      border-color: $c-sui-studio-doc-white;
      background: $c-sui-studio-doc-g900;
    }
  }
}
