$h-atom-input--xl: 56px !default;
$h-atom-input--l: 48px !default;
$h-atom-input--m: 40px !default;
$h-atom-input--s: 32px !default;
$h-atom-input--xs: 24px !default;

$c-atom-input--success: $c-success !default;
$c-atom-input--error: $c-error !default;
$c-atom-input--alert: $c-alert !default;

$pl-atom-input: $p-l !default;
$pr-atom-input: $p-l !default;

$bxsh-atom-input: $bxsh-focus !default;
$bd-atom-input: $bdw-s solid $c-primary !default;
$fz-atom-input: $fz-base !default;
$bgc-atom-input: $c-white !default;
$c-atom-input: initial !default;
$bd-atom-input-base: $bdw-s solid $c-gray-light !default;

$bd-molecule-autosuggest-focus: $bd-atom-input !default;
$bxsh-molecule-autosuggest-focus: $bxsh-atom-input !default;

$bd-atom-select-focus: $bd-atom-input !default;
$bxsh-atom-select-focus: $bxsh-atom-input !default;

$sizes-atom-input: m $h-atom-input--m, xs $h-atom-input--xs, s $h-atom-input--s !default;
$states-atom-input: success $c-atom-input--success, error $c-atom-input--error,
  alert $c-atom-input--alert !default;
