$pl-atom-input: $p-l !default;
$pr-atom-input: $p-l !default;

$bxsh-atom-input-size: $bxsh-focus-size !default;
$bxsh-atom-input: $bxsh-focus !default;
$bd-atom-input: $bdw-s solid $c-primary !default;
$bd-atom-input-focus: $bd-atom-input !default;
$fz-atom-input: $fz-base !default;
$bgc-atom-input: $c-white !default;
$c-atom-input: initial !default;
$bd-atom-input-base: $bdw-s solid $c-gray-light !default;

$bd-molecule-autosuggest-focus: $bd-atom-input !default;
$bxsh-molecule-autosuggest-focus: $bxsh-atom-input !default;
$ol-molecule-autosuggest-focus: 0 none !default;
$olo-molecule-autosuggest-focus: 0 !default;

$bd-atom-select-focus: $bd-atom-input !default;
$bxsh-atom-select-focus: $bxsh-atom-input !default;
$ol-atom-select-focus: 0 none !default;
$olo-atom-select-focus: 0 !default;

$h-atom-input--xl: 7 * $sz-base !default; // 56px
$h-atom-input--l: 6 * $sz-base !default; // 48px
$h-atom-input--m: 5 * $sz-base !default; // 40px
$h-atom-input--s: 4 * $sz-base !default; // 32px
$h-atom-input--xs: 3 * $sz-base !default; // 24px

$c-atom-input--success: $c-success !default;
$c-atom-input--error: $c-error !default;
$c-atom-input--alert: $c-alert !default;

$sizes-atom-input: xl $h-atom-input--xl, l $h-atom-input--l, m $h-atom-input--m, xs $h-atom-input--xs,
  s $h-atom-input--s !default;
$states-atom-input: success $c-atom-input--success, error $c-atom-input--error, alert $c-atom-input--alert !default;
