@import './../utils/spacing';

$m-sides: ('', 'top', 'right', 'bottom', 'left') !default;

$m-sizes: (
  giant: $m-giant,
  xxxl: $m-xxxl,
  xxl: $m-xxl,
  xl: $m-xl,
  l: $m-l,
  m: $m-m,
  s: $m-s,
  xs: $m-xs
) !default;

@each $side in $m-sides {
  @include create-space('margin', $side, $m-sizes);
}
