@import './../utils/spacing';

$p-sides: ('', 'top', 'right', 'bottom', 'left') !default;

$p-sizes: (
  giant: $p-giant,
  xxxl: $p-xxxl,
  xxl: $p-xxl,
  xl: $p-xl,
  l: $p-l,
  m: $p-m,
  s: $p-s,
  xs: $p-xs
) !default;

@each $side in $p-sides {
  @include create-space('padding', $side, $p-sizes);
}
