.sui-StudioNav {
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e4e4e4;
    border-radius: 8px;
  }
  &-header {
    align-items: center;
    display: flex;
    height: 64px;
    text-decoration: none;
    box-sizing: border-box;
  }

  &-menu {
    list-style: none;
    padding-left: 0;
    margin: 0;

    &Link {
      border-left: 1px solid color-mix(in srgb, var(--studio-c-on-surface, #000) 40%, transparent);
      color: color-mix(in srgb, var(--studio-c-on-surface, #000) 70%, transparent);
      display: block;
      padding: 8px 24px;
      font-size: 14px;
      text-decoration: none;
      transition: all 0.3s ease;
      margin: 0 4px 0 0;
      border-radius: 0 8px 8px 0;
      &:hover {
        background-color: color-mix(in srgb, $c-primary 5%, transparent);
        border-left-color: $c-primary;
        color: $c-primary;
      }
      &--active {
        background-color: color-mix(in srgb, $c-primary 10%, transparent);
        border-left-color: color-mix(in srgb, $c-primary, $c-on-surface 10%);
        color: color-mix(in srgb, $c-primary, $c-on-surface 10%);
        pointer-events: none;
      }

      &Item {
        display: flex;
      }
    }

    &Title {
      border-left: 1px solid color-mix(in srgb, var(--studio-c-on-surface, #000) 40%, transparent);
      padding-left: 8px;
      color: $c-on-surface;
      padding-bottom: 10px;
      padding-top: 20px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
