.sui-StudioNav {
  border-radius: 4px;
  box-shadow: inset 4px 4px 12px #dddddd;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e4e4e4;
    border-radius: 8px;
  }
  &-header {
    align-items: center;
    display: flex;
    height: 64px;
    text-decoration: none;
    box-sizing: border-box;
  }

  &-menu {
    list-style: none;
    padding-left: 0;
    margin: 0;

    &Link {
      border-left: 1px solid #e4e4e4;
      color: $c-gray-dark;
      display: block;
      padding: 8px 24px;
      font-size: 14px;
      text-decoration: none;
      transition: all 0.3s ease;
      &:hover {
        background-color: rgba($c-primary, 0.05);
        border-left-color: $c-primary;
        color: $c-primary;
      }
      &--active {
        background-color: rgba($c-primary, 0.1);
        border-left-color: darken($c-primary, 10%);
        color: darken($c-primary, 10%);
        pointer-events: none;
      }

      &Item {
        display: flex;
      }
    }

    &Title {
      border-left: 1px solid #e4e4e4;
      padding-left: 8px;
      color: $c-black;
      padding-bottom: 10px;
      padding-top: 20px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
