.sui-StudioProps {
  &-h1,
  &-h2 {
    font-weight: 400;
    line-height: 1.25;
    padding-bottom: 0.4em;
  }
  &-h1 {
    font-size: 2.25em;
    border-bottom: 1px solid #eaecef;
  }
  &-h2 {
    font-size: 0.875em;
    font-weight: 700;
    margin-top: 56px;
    text-transform: uppercase;
  }
  &-blockquote {
    border-left: 0.25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
    margin: 0;
  }
  &-prop {
    padding: 0 16px 24px 0;
  }

  &-tag {
    display: inline-flex;
    margin: 0 16px 8px 0;
  }

  &-tag span {
    background: $bgc-tag;
    border-radius: 3px;
    color: $c-gray;
    font-size: $fz-s;
    padding: 4px 8px;

    &:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      color: $c-white;
    }
  }

  &-required span:last-child {
    background: $c-green;

    &.is-required {
      background: $c-accent;
    }
  }

  &-default span:last-child {
    background: $c-black;
    font-family: monospace;
  }

  &-type span:last-child {
    background: $c-primary;
    font-family: monospace;
  }
}
