.sui-StudioProps {
  &-prop {
    padding-left: 16px;

    &:not(:last-child) {
      border-bottom: 1px solid $c-gray-light;
      padding-bottom: 16px;
    }
  }

  &-tag {
    display: inline-flex;
    margin-bottom: 8px;
    margin-right: 16px;
  }

  &-tag span {
    background: $bgc-tag;
    border-radius: 3px;
    color: $c-gray;
    font-size: $fz-s;
    font-weight: $fw-ultra-light;
    padding: 4px 8px;

    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &-required span:last-child {
    background: $c-green;
    color: $c-white;

    &.is-required {
      background: $c-accent;
    }
  }

  &-default span:last-child {
    background: $c-green;
    color: $c-white;
  }

  &-type span:last-child {
    background: $c-primary;
    color: $c-white;
    font-family: monospace;
  }
}
