// --- Box Style --- //

// Border radius
$bdrs-base: 8px !default;
$bdrs-none: 0 !default;

$bdrs-xxxl: $bdrs-base * 4 !default; // 32 px
$bdrs-xxl: $bdrs-base * 2 !default; // 16 px
$bdrs-xl: $bdrs-base !default; // 8 px
$bdrs-l: $bdrs-base * 0.5 !default; // 4 px
$bdrs-m: $bdrs-base * 0.25 !default; // 2 px
$bdrs-s: $bdrs-base * 0.125 !default; // 1 px

$bdrs-rounded: 50% !default;

// Border widths
$bdw-base: 8px !default;

$bdw-xxxl: $bdw-base * 4 !default; // 32 px
$bdw-xxl: $bdw-base * 2 !default; // 16 px
$bdw-xl: $bdw-base !default; // 8 px
$bdw-l: $bdw-base * 0.5 !default; // 4 px
$bdw-m: $bdw-base * 0.25 !default; // 2 px
$bdw-s: $bdw-base * 0.125 !default; // 1 px

// Box shadows
$bxsh-s: 0 1px 1px 0 rgba(0, 0, 0, 0.24) !default;
$bxsh-m: 0 1px 4px 0 rgba(0, 0, 0, 0.24) !default;
$bxsh-l: 0 3px 8px 0 rgba(0, 0, 0, 0.16) !default;

// Box shadows focus
$bxsh-focus: 0 0 3px 0 $c-primary !default;
