// --- Fonts and typography --- //
//
// Prefixes used:
// * ff = font family
// * fw = font weight
// * fz = font size
// * lh = line height

// Font family
$ff-sans-serif: 'Open Sans', Helvetica, sans-serif !default;

// Font weights
$fw-light: 300 !default;
$fw-regular: 400 !default;
$fw-semi-bold: 500 !default;
$fw-bold: 700 !default;

// Font sizes
$fz-base: 16px !default; // 16px

$fz-giant: $fz-base + 20 !default; // 36px
$fz-xxxl: $fz-base + 12 !default; // 28px
$fz-xxl: $fz-base + 8 !default; // 24px
$fz-xl: $fz-base + 4 !default; // 20px
$fz-l: $fz-base + 2 !default; // 18px
$fz-m: $fz-base !default; // 16px
$fz-s: $fz-base - 2 !default; // 14px
$fz-xs: $fz-base - 4 !default; // 12px
$fz-xxs: $fz-base - 6 !default; // 10px

// Semantic font sizes
$fz-h1: $fz-giant !default; // 36px
$fz-h2: $fz-xxxl !default; // 28px
$fz-h3: $fz-xxl !default; // 24px
$fz-h4: $fz-xl !default; // 20px
$fz-h5: $fz-l !default; // 18px
$fz-body: $fz-m !default; // 16px

// Line heights
$lh-giant: $fz-giant * 1.2 !default; // 43.2px
$lh-xxxl: $fz-xxxl * 1.2 !default; // 33.6px
$lh-xxl: $fz-xxl * 1.2 !default; // 28.8px
$lh-xl: $fz-xl * 1.2 !default; // 24px
$lh-l: $fz-l * 1.2 !default; // 21.6px
$lh-m: $fz-m * 1.3 !default; // 20.8px
$lh-s: $fz-s * 1.3 !default; // 18.2px
$lh-xs: $fz-xs * 1.2 !default; // 14.4px
$lh-xxs: $fz-xxs * 1.2 !default; // 12px

// Letter spacing
$ls-giant: 1.5px !default;
$ls-xxxl: 1.2px !default;
$ls-xxl: 0.38px !default;
$ls-xl: 0.37px !default;
$ls-l: 0.36px !default;
$ls-m: 0.35px !default;
$ls-s: 0.25px !default;
$ls-xs: 0.2px !default;
$ls-xxs: 0.1px !default;

// Large Title
$fz-large-title: $fz-giant !default;
$fw-large-title: $fw-semi-bold !default;
$ls-large-title: $ls-xl !default;
$lh-large-title: $lh-giant !default;

// Title 1
$fz-title1: $fz-xxxl !default;
$fw-title1: $fw-semi-bold !default;
$ls-title1: $ls-l !default;
$lh-title1: $lh-xxxl !default;

// Title 2
$fz-title2: $fz-xxl !default;
$fw-title2: $fw-semi-bold !default;
$ls-title2: $ls-m !default;
$lh-title2: $lh-xxl !default;

// Title 3
$fz-title3: $fz-xl !default;
$fw-title3: $fw-semi-bold !default;
$ls-title3: $ls-xxl !default;
$lh-title3: $lh-xl !default;

// Headline 1
$fz-headline1: $fz-l !default;
$fw-headline1: $fw-semi-bold !default;
$ls-headline1: $ls-s !default;
$lh-headline1: $lh-l !default;

// Headline 2
$fz-headline2: $fz-m !default;
$fw-headline2: $fw-semi-bold !default;
$ls-headline2: $ls-s !default;
$lh-headline2: $lh-m !default;

// Body 1
$fz-body1: $fz-m !default;
$fw-body1: $fw-regular !default;
$ls-body1: $ls-xs !default;
$lh-body1: $lh-m !default;

// Body 2
$fz-body2: $fz-s !default;
$fw-body2: $fw-regular !default;
$ls-body2: $ls-xxs !default;
$lh-body2: $lh-xs !default;

// Callout
$fz-callout: $fz-s !default;
$fw-callout: $fw-semi-bold !default;
$ls-callout: $ls-xxxl !default;
$lh-callout: $lh-xs !default;

// Caption
$fz-caption: $fz-xs !default;
$fw-caption: $fw-regular !default;
$ls-caption: $ls-xs !default;
$lh-caption: $lh-xs !default;

// Overline
$fz-overline: $fz-xxs !default;
$fw-overline: $fw-semi-bold !default;
$ls-overline: $ls-giant !default;
$lh-overline: $lh-xs !default;
