// --- Layers --- //

// z-index
$z-spinner: 1500 !default;
$z-cmp: 1400 !default;
$z-banner: 1300 !default;
$z-notifications: 1200 !default;
$z-modal: 1100 !default;
$z-sidebar: 1000 !default;
$z-tooltips: 900 !default;
$z-navigation: 800 !default;
$z-dropdown-menu: 1 !default;
