// --- Sizes --- //
//
// Prefixes used:
// * sz = size
$sz-base: 8px !default;

// Icons
$sz-icon-xs: 12px !default;
$sz-icon-s: 16px !default;
$sz-icon-m: 24px !default;
$sz-icon-l: 32px !default;
$sz-icon-xl: 40px !default;
$sz-icon-xxl: 48px !default;
