@use 'sass:math';
// --- Sizes --- //
//
// Prefixes used:
// * sz = size
$sz-base: 8px !default; // 8px

// Icons
$sz-icon: 3 * $sz-base !default; // 24px

$sz-icon-xs: math.div(2, 4) * $sz-icon !default; // 12px
$sz-icon-s: math.div(2, 3) * $sz-icon !default; // 16px
$sz-icon-m: math.div(3, 3) * $sz-icon !default; // 24px
$sz-icon-l: math.div(4, 3) * $sz-icon !default; // 32px
$sz-icon-xl: math.div(5, 3) * $sz-icon !default; // 40px
$sz-icon-xxl: math.div(6, 3) * $sz-icon !default; // 48px
