@import './size';

// --- Spacing --- //
//
// The naming convention used for variables is based on Emmet.
// See [Emmet cheat sheet](http://docs.emmet.io/cheat-sheet/)
//
// Primary prefixes:
// * m = margin
// * p = padding

// Paddings
$p-base: $sz-base; // 8px

$p-giant: $p-base * 6 !default; // 48px
$p-xxxl: $p-base * 5 !default; // 40px
$p-xxl: $p-base * 4 !default; // 32px
$p-xl: $p-base * 3 !default; // 24px
$p-l: $p-base * 2 !default; // 16px
$p-m: $p-base !default; // 8px
$p-s: $p-base * 0.5 !default; // 4px
$p-xs: $p-base * 0.25 !default; // 2px

// Margins
$m-base: $sz-base; // 8px

$m-giant: $m-base * 6 !default; // 48px
$m-xxxl: $m-base * 5 !default; // 40px
$m-xxl: $m-base * 4 !default; // 32px
$m-xl: $m-base * 3 !default; // 24px
$m-l: $m-base * 2 !default; // 16px
$m-m: $m-base !default; // 8px
$m-s: $m-base * 0.5 !default; // 4px
$m-xs: $m-base * 0.25 !default; // 2px

// Gutter
$gutter: $sz-base * 2 !default;

$gutter-s: $gutter * 0.5 !default;
$gutter-l: $gutter * 2 !default;

// Gap
$g-base: $sz-base;

$g-giant: $g-base * 6; // 48px
$g-xxxl: $g-base * 5; // 40px
$g-xxl: $g-base * 4; // 32px
$g-xl: $g-base * 3; // 24px
$g-l: $g-base * 2; // 16px
$g-m: $g-base; // 8px
$g-s: $g-base * 0.5; // 4px
