header {
  color: #111;
  background-image: url(31d6cfe0d16ae931b73c.png);
}

footer {
  background-image: url(a6400ebcfaaeb98be599.png);
}

section {
  color: #222;
}

body {
  color: #000;
}

/*
  @import "~not-exists-module2/index.scss";  // this should be skiped
*/
.foobar {
  color: #fff;
}

.include-test {
  color: #fff;
}

.web_foobaz {
  content: "web_foobaz";
}
