.Root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &-center {
    height: 100%;
  }

  &-top {
    box-shadow: 0 3px 5px rgba(100, 100, 100, .49);
    padding-bottom: 8px;
    height: 98px;
  }
}
