* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.Root {
  height: 100vh;
  overflow: hidden;

  iframe {
    border: 0;
    overflow: scroll;
    zoom: 1;
    height: 100vh;
    width: 100vw;
  }

  &-test {
    background: #fafafa;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }

  &-testSwitch {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    margin-top: 8px;
    font-weight: 500;
    padding: 4px;
    width: 100%;
  }
}
