.Root {
  height: 100vh;
  overflow-y: auto;

  &-top {
    padding-bottom: 8px;
    height: 98px;
    width: 100%;
  }

  &-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @include breakpoint-from(m) {
      flex-direction: row;
    }
  }

  &-desktop {
    width: 100%;
    height: 100%;
  }

  &-tablet {
    margin: 0 auto;
  }

  &-mobile {
    background-color: #f2f2f2;
    border: 1px solid gray;
    border-radius: 30px;
    height: 780px;
    margin: 40px auto;
    padding: 30px 20px 80px;
    position: relative;
    width: 420px;

    &-camera {
      background: gray;
      height: 5px;
      left: 160px;
      position: absolute;
      top: 20px;
      width: 5px;
    }

    &-speaker {
      background: gray;
      height: 5px;
      position: absolute;
      right: 150px;
      top: 20px;
      width: 80px;
    }

    &-button {
      background: gray;
      border-radius: 50px;
      bottom: 20px;
      height: 50px;
      position: absolute;
      right: 178px;
      width: 50px;
    }
  }
}
