.Root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 24em;
  justify-content: center;

  &-top {
    flex: 1;
  }

  &-center {
    flex: 1;
  }

  &-bottom {
    flex: 1;
  }
}
