.sui-Studio {
  display: flex;
  flex-direction: column;
  &-logo {
    & > svg {
      height: auto;
      width: 32px;
    }
  }

  &-sidebar {
    padding: 16px;
    top: $h-navHeader;
    background-color: $c-surface;
    color: $c-on-surface;
    border-right: 1px solid $c-gray-lightest;
    box-sizing: border-box;
    position: fixed;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
    width: $w-sidebar;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100vh - $h-navHeader);

    &-searchInput {
      box-sizing: border-box;
      background-color: $c-surface;
      border: 1px solid color-mix(in srgb, $c-on-surface 30%, transparent);
      border-radius: 4px;
      color: color-mix(in srgb, $c-on-surface 30%, transparent);
      font-size: 12px;
      outline: none;
      padding: 8px;
      width: calc(100% - #{2 * 8px});
      height: $h-search-input;
      &:focus {
        background-color: $c-surface;
        color: color-mix(in srgb, $c-on-surface 70%, transparent);
        border: 1px solid $c-primary;
      }
    }

    &Body {
      transition: width 0.25s ease-out;
      flex-grow: 1;
      overflow: hidden;
    }

    &--hidden {
      transform: translate3d(-100%, 0, 0);
    }
  }

  &-main {
    background-color: $c-surface;
    color: $c-on-surface;
    position: relative;
    top: $h-navHeader;
    width: 100%;
    margin-left: 0;
    min-height: 100vh;
    transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;
    @include breakpoint-from(s) {
      width: calc(100% - #{$w-sidebar});
      margin-left: $w-sidebar;
      transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;
    }
    .overlay {
      position: fixed;
      top: 0%;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 1;
      background-color: rgba($c-black, 0.2);
      @include breakpoint-from(s) {
        display: none;
      }
    }
    &--sidebar_hidden {
      width: 100%;
      margin-left: 0;
      & .overlay {
        display: none;
      }
    }
  }

  &.sui-Studio--fullscreen {
    .sui-Studio-sidebar,
    .sui-StudioWorkbench-navigation,
    .sui-StudioNavBar-secondary {
      display: none;
    }
    .sui-Studio-main {
      margin-left: 0;
      width: 100%;
    }
  }
}

.sui-StudioNavBar-secondary {
  background: $c-surface;
  color: $c-on-surface;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 16px;
}

.sui-StudioDocumentation {
  padding: 16px;
  font-size: 16px;
}

.sui-Studio-readme {
  padding: 40px;
  line-height: 1.5;
  height: 100%;
  .markdown-body {
    max-width: 320px;
  }
  h3 {
    font-weight: normal;
  }
  a {
    color: $c-white;
    background: $c-primary;
    border-radius: 16px;
    padding: 4px 12px;
    text-decoration: none;
    margin-right: 8px;
    display: inline-block;
    font-size: 14px;
    margin-top: 8px;
  }
}
.sui-Studio-navHeader {
  width: calc(100vw - 32px);
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  height: $h-navHeader;
  position: fixed;
  top: 0;
  background: $c-surface;
  color: $c-on-surface;
  align-items: center;
  border-bottom: solid 1px color-mix(in srgb, $c-on-surface 15%, transparent);
  z-index: 40;
  gap: 8px;
  &Left {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: $c-on-surface;
  }
  h1 {
    font-size: 16px;
    margin: 0;
    display: flex;
  }
}
.sui-Studio-navMenu {
  display: block;
  width: 32px;
  height: 32px;
  background: transparent;
  color: inherit;
  border: 0;
  padding: 0;
  svg {
    vertical-align: middle;
    width: 24px;
    height: 24px;
  }
}
