// sass-lint:disable no-misspelled-properties

// --- SUI Grid --- //
// @include sui-grid;
// @include sui-grid(false, false);    // init default grid without gutter
// @include sui-grid-inline;           // init inline grid with gutter
// @include sui-grid-inline(false);    // init inline grid without gutter
//
// @include sui-cell;
// @include sui-cell-inline;
// or...
// @include sui-cell-of(2);
//
// Custom gutter:
// @include sui-grid($gutter: $custom-gutter)
// @include sui-cell-of($col-num, $gutter: $custom-gutter)

// Grid
@use 'sass:math';

@mixin sui-grid($add-gutter: true, $inline: false, $gutter: $gutter) {
  display: flex;

  @if $add-gutter == true {
    padding: 0 $gutter $gutter;
  }

  @if $inline == true {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  } @else {
    flex-wrap: wrap;
  }
}

@mixin sui-grid-inline($add-gutter) {
  @include sui-grid($add-gutter, $inline: true);
}

// Cell
@mixin sui-cell($inline: false, $gutter: $gutter) {
  flex: 1;
  margin: 0;
  padding: 0;

  @if $inline == true {
    margin-right: $gutter;

    & > * {
      height: 100%;
    }
  } @else {
    &:not(:last-child) {
      margin-right: $gutter;
    }
  }
}

@mixin sui-cell-inline {
  @include sui-cell($inline: true);
}

@mixin sui-cell-of($col-num, $gutter: $gutter) {
  $w-content: math.div(100%, $col-num);

  @include sui-cell($gutter: $gutter);
  flex-basis: calc(#{$w-content} - #{$gutter});

  &:nth-child(#{$col-num}n) {
    margin-right: 0;
  }

  &:not(:nth-last-child(-n + #{$col-num})) {
    margin-bottom: $gutter;
  }
}
