@mixin arrow-up($size: 12px, $color: $c-gray) {
  border-bottom: $size solid $color;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  height: 0;
  width: 0;
}

@mixin arrow-down($size: 12px, $color: $c-gray) {
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid $color;
  height: 0;
  width: 0;
}

@mixin arrow-right($size: 12px, $color: $c-gray) {
  border-bottom: $size solid transparent;
  border-left: $size solid $color;
  border-top: $size solid transparent;
  height: 0;
  width: 0;
}

@mixin arrow-left($size: 12px, $color: $c-gray) {
  border-bottom: $size solid transparent;
  border-right: $size solid $color;
  border-top: $size solid transparent;
  height: 0;
  width: 0;
}
