// --- Forms --- //

// Inputs
$bgc-input: $c-white !default;
$bgc-input-hover: $c-white !default;
$bgc-input-focus: $c-gray-lightest !default;
$bdrs-input: $bdrs-base !default;
$c-input: $c-text-base !default;
$c-input-focus: $c-text-base !default;
$c-input-hover: $c-text-base !default;
$c-input-placeholder: $c-gray !default;
$ff-input-placeholder: $ff-sans-serif !default;
$fs-input-placeholder: italic !default;
$lh-input: $lh-base !default;

$bd-input: 0 0 0 1px $c-gray inset !default;
$bd-input-hover: 0 0 0 1px $c-gray inset !default;
$bd-input-focus: 0 0 0 1px $c-gray inset !default;

// Radio List
$bd-radio-list: 1px solid $c-gray !default;
$bdrs-radio-list: $bdrs-base !default;

$bgc-radio-list-checked: $c-primary !default;
$bgc-radio-list: $c-white !default;

$c-radio-list-checked: $c-white !default;
$p-radio-list: $p-v $p-h !default;

// Selects
$bgc-select: $c-white !default;
$bgc-select-hover: $c-white !default;
$bgc-select-focus: $c-gray-lightest !default;
$lh-select: $lh-base !default;

$bgc-select-icon-wrap: $c-gray-lightest !default;
$p-select-icon-wrap: 0 $p-h-small !default;
$w-select-icon-wrap: 30px !default;

$bxsh-select: 0 0 0 1px $c-gray inset !default;
$bxsh-select-hover: 0 0 0 1px $c-gray inset !default;
$bxsh-select-focus: 0 0 0 1px $c-gray inset !default;

// --- Components --- //

// Ads
$h-ad-l-top: auto !default;
$w-ad-l-top: 980px !default;
$h-ad-l-right: 600px !default;
$w-ad-l-right: 300px !default;
$mih-ad-l-top: 0 !default;

// Alert Basic
$bdrs-alert-basic: 0 !default;
$bxsh-alert-basic: $bxsh-base !default;
$c-alert-basic-link: $c-primary !default;

$c-alert-basic-info: $c-primary !default;
$bd-alert-basic-info: 0 !default;
$bdl-alert-basic-info: $bdw-l solid $c-alert-basic-info !default;
$bgc-alert-basic-info: $c-white !default;

$c-alert-basic-error: $c-error !default;
$bd-alert-basic-error: 0 !default;
$bdl-alert-basic-error: $bdw-l solid $c-alert-basic-error !default;
$bgc-alert-basic-error: $c-white !default;

$c-alert-basic-success: $c-success !default;
$bd-alert-basic-success: 0 !default;
$bdl-alert-basic-success: $bdw-l solid $c-alert-basic-success !default;
$bgc-alert-basic-success: $c-white !default;

// Badge
$c-badge-notification: $c-primary !default;
$size-badge-notification: 18px !default;
$p-badge-notification: 0 5px !default;
$m-badge-notification: 0 0 0 10px !default;
$bd-badge-notification: $bdw-m solid $c-white !default;

// Button
$bdrs-button: 0 !default;
$lh-button: $lh-base !default;
$o-button-disabled: 0.4 !default;

$c-button-primary: $c-white !default;
$c-button-primary-icon-fill: $c-white !default;
$c-button-primary-icon-stroke: transparent !default;
$bgc-button-primary: $c-primary !default;
$bgc-button-primary-hover: $c-primary-light !default;
$bgc-button-primary-active: $c-primary-dark !default;

$c-button-secondary: $c-gray-dark !default;
$c-button-secondary-hover: $c-gray-dark !default;
$c-button-secondary-icon-fill: $c-gray-dark !default;
$c-button-secondary-icon-stroke: transparent !default;
$bdc-button-secondary: $c-gray-dark !default;
$bgc-button-secondary: $c-white !default;
$bgc-button-secondary-hover: $c-gray-lightest !default;
$bgc-button-secondary-active: $c-gray-light !default;

$c-button-accent: $c-white !default;
$c-button-accent-icon-fill: $c-white !default;
$c-button-accent-icon-stroke: transparent !default;
$bgc-button-accent: $c-accent !default;
$bgc-button-accent-hover: $c-accent-light !default;
$bgc-button-accent-active: $c-accent-dark !default;

$c-button-ghost: $c-gray-dark !default;
$c-button-ghost-hover: $c-gray !default;
$c-button-ghost-icon-fill: $c-gray-dark !default;
$c-button-ghost-icon-stroke: transparent !default;
$bdc-button-ghost: $c-gray-dark !default;
$bdc-button-ghost-hover: $c-gray !default;
$bgc-button-ghost-active: $c-gray !default;

$c-button-flat: $c-gray-dark !default;
$c-button-flat-hover: $c-gray !default;
$c-button-flat-icon-fill: $c-gray-dark !default;
$c-button-flat-icon-stroke: transparent !default;
$bgc-button-flat-active: $c-gray !default;

// Card
$bdrs-card: 0 !default;
$bxsh-card: $bxsh-base !default;
$bxsh-card-hover: 0 1px 6px 2px rgba($c-black, 0.15) !default;
$c-card-title-hover: inherit !default;
$bdc-article-featured: $c-featured !default;
$bd-article-featured: $bdw-l solid $bdc-article-featured !default;
$c-card-article-icon-fill: $c-white !default;
$z-card-article-icon: 1 !default;

// Card composable
$bgc-card-composable: $c-white !default;
$p-card-composable-primary: 0 !default;
$p-card-composable-secondary: $p-base !default;

// Card product
$c-card-product-title: $c-primary !default;
$c-card-product-favorited: $c-primary !default;
$c-card-product-slider-nav-icon: $c-primary !default;
$size-card-product-slider-nav-icon: 30px !default;

// Card subscription
$bg-card-subscription-image: none !default;
$bgc-card-subscription-content: $c-white !default;
$c-card-subscription-icon: $c-white !default;
$c-card-subscription-title: $c-gray !default;
$fz-card-subscription-input: $fz-base !default;
$h-card-subscription-image: 0 !default;
$pt-card-subscription: 0 !default;
$t-card-subscription-image: 0 !default;
$type-card-subscription-button: 'primary' !default;

// Cookie banner
$bgc-cookie-banner: $c-gray-lightest !default;
$c-cookie-banner: $c-gray !default;
$fz-cookie-banner: $fz-s !default;
$z-cookie-banner: 50 !default;

$maw-cookie-banner-content: $w-layout-large !default;
$p-cookie-banner-content: $p-v $p-h !default;
$ta-cookie-banner-context: center !default;

$c-cookie-banner-link: $c-primary !default;

$c-cookie-banner-close-icon: $c-gray-dark !default;
$c-cookie-banner-close-icon-hover: $c-gray !default;

// Dropdown
$c-dropdown-button-large: $c-text-base !default;
$bdt-dropdown-menu: $bdw-s solid $c-primary !default;
$bgc-dropdown-button-hover: $c-white !default;
$bgc-dropdown-menu-hover: $c-white !default;
$bgc-dropdown-menu: $c-gray-lightest !default;
$bxsh-dropdown-menu: $bxsh-base !default;
$c-dropdown-arrow: transparent !default;
$size-dropdown-arrow-up: 0 !default;
$size-dropdown-icon: 18px !default;
$z-dropdown-menu: 1 !default;

// Dropdown basic
$c-dropdown-basic-button-hover: $c-accent !default;
$c-dropdown-basic-button-icon: $c-accent !default;
$c-dropdown-basic-list-link: $c-accent !default;

// Dropdown user
$bd-dropdown-user-last-item: 1px solid $c-gray-light !default;
$bg-dropdown-user-button: $c-gray !default;
$bgc-dropdown-user: $c-white !default;
$w-dropdown-user-avatar: 48px !default;
$w-dropdown-user-text: 100px !default;
$c-dropdown-user-text-large: $c-text-base !default;
$c-dropdown-user-icon-highlight: $c-accent !default;
$c-dropdown-user-icon-hover: $c-accent !default;
$c-dropdown-user-link-highlight: $c-accent !default;

// Form Autocompleted
$bd-form-autocompleted: $bdw-s solid $c-gray !default;
$bdr-form-autocompleted: $bdrs-base !default;
$bgc-form-autocompleted-item-active: $c-gray-lightest !default;
$bgc-form-autocompleted-item-hover: $c-gray-lightest !default;
$bgc-form-autocompleted: $c-white !default;
$c-form-autocompleted-submit-icon: $c-white !default;
$ml-form-autocompleted-submit: $m-h !default;
$mt-form-autocompleted: 3px !default;
$p-form-autocompleted-item: $p-v $p-h !default;
$r-form-autocompleted-clear: 12px !default;
$t-form-autocompleted-clear: 50% !default;
$trf-form-autocompleted-clear: translateY(-50%) !default;
$z-form-autocompleted-suggests: 1 !default;
$type-form-autocompleted-submit: 'primary' !default;

// Modal
$bg-modal: rgba(0, 0, 0, 0.6) !default;

// Modal Basic
$bd-modal-basic: 0 !default;
$bg-modal-basic: $bg-modal !default;
$bxsh-modal-basic: $bxsh-base !default;
$m-modal-basic: $m-base !default;
$maw-modal-basic: 50% !default;
$p-modal-basic: $p-base !default;
$w-modal-basic: auto !default;
$z-modal-basic: 100 !default;
$c-modal-basic-icon: $c-black !default;
$h-modal-basic-icon: 16px !default;
$w-modal-basic-icon: 16px !default;
$bg-modal-basic-dialog: $c-white !default;
$bg-modal-basic-header: transparent !default;
$c-modal-basic-header: inherit !default;
$p-modal-basic-header: $p-base !default;
$m-modal-basic-header: $p-modal-basic-header !default;
$bd-modal-basic-content: $bdrs-s solid $c-gray-light !default;
$p-modal-basic-content: $p-base !default;
$p-modal-basic-footer: $p-base !default;

// Search box
$bg-search-box: $c-gray-light !default;

// Section
$c-section-basic-main-title: $c-black !default;
$c-section-basic-subtitle: $c-gray-light !default;
$c-section-basic-content-text-paragraph: $c-gray !default;
$fz-section-basic-title: $fz-h3 !default;
$fz-section-basic-subtitle: $fz-h5 !default;
$fz-section-basic-content-text-paragraph: $fz-m !default;
$lh-section-basic-paragraph: $lh-base !default;
$mb-section-basic: $m-v-xlarge * 2 !default;
$mb-section-basic-header: $m-v-xlarge !default;
$m-v-section-basic-content-text-paragraph: $m-v-large !default;
$bd-section-basic-line-separator: $bdrs-s solid $c-gray-lightest !default;

// Smartbanner
$bgc-ad-smartbanner: $c-white !default;
$bb-ad-smartbanner: $bdrs-s solid $c-gray-light !default;
$h-ad-smartbanner: 70px !default;
$t-ad-smartbanner: 0 !default;
$b-ad-smartbanner: auto !default;
$l-ad-smartbanner: 0 !default;
$z-ad-smartbanner: 10 !default;
$m-ad-smartbanner-logo: 0 $m-h-small !default;
$w-ad-smartbanner-logo: 50px !default;
$h-ad-smartbanner-logo: 50px !default;
$bdrs-ad-smartbanner-logo: 0 !default;
$bgc-ad-smartbanner-button-install: $c-primary !default;
$c-ad-smartbanner-button-color: $c-white !default;
$w-ad-smartbanner-button-close-icon: 10px !default;
$h-ad-smartbanner-button-close-icon: 10px !default;
$c-ad-smartbanner-button-close-icon: grey !default;
$m-ad-smartbanner-button-close-container: 0 $m-h-small !default;
$fz-ad-smartbanner-title: $fz-h5 !default;
$fw-ad-smartbanner-title: $fw-bold !default;
$m-ad-smartbanner-title: 0 0 $m-v-xsmall 0 !default;
$fz-ad-smartbanner-text: $fz-s !default;
$m-ad-smartbanner-text: 0 0 $m-v-xsmall 0 !default;
$p-ad-smartbanner-secondary: $p-v $p-h-small !default;
$p-ad-smartbanner-rating-container: 0 !default;
$c-ad-smartbanner-rating-icon: #f39c12 !default;

// Spinner
$c-spinner: $c-primary !default;
$m-spinner: $m-h-xsmall !default;
$op-spinner: 0.45 !default;
$animdur-spinner: 1500ms !default;
$animic-spinner: infinite !default;
$animtf-spinner: linear !default;

$size-spinner-l: 60px !default;
$bdw-spinner-l: 3px !default;
$size-spinner-m: 30px !default;
$bdw-spinner-m: $bdw-m !default;
$size-spinner-s: 15px !default;
$bdw-spinner-s: $bdw-s !default;

// Tabs
$bd-tab-wrap: $bdw-s solid $c-gray-light !default;
$bd-tab: 0 !default;
$bgc-tab: $c-white !default;
$c-tab: $c-text-base !default;
$fw-tab: $fw-semi-bold !default;
$mr-tab: 0 !default;
$p-tab: $p-v * 1.5 $p-h !default;
$tt-tab: uppercase !default;

$bgc-tab-hover: $c-white !default;

$bgc-tab-active: $c-white !default;
$bxsh-tab-active: 0 -4px 0 $c-primary inset !default;
$c-tab-active: $c-primary !default;

// Tag
$c-tag: $c-text-base !default;
$c-tag-selected: $c-text-base !default;
$bd-tag: $bdw-s solid $c-gray-light !default;
$bd-tag-selected: $bdw-s solid $c-primary !default;
$bgc-tag: $c-white !default;
$bgc-tag-hover: $c-white !default;
$bgc-tag-selected: $c-white !default;
$bdrs-tag: $bdrs-base !default;
$fz-tag: $fz-s !default;
$fw-tag-link: $fw-regular !default;
$lh-tag: 1.5em !default;
$size-tag-icon: 14px !default;

// Title
$c-title-basic-main-title: $c-primary !default;
$c-title-basic-subtitle: $c-primary !default;

// Tooltip basic
$bdr-tooltip-basic: 0 !default;
$bdw-tooltip-basic-arrow: $bdw-l !default;
$fz-tooltip-basic: $fz-base !default;
$w-toolip-basic-arrow: 12px !default;
$p-toolip-basic: $p-v $p-h !default;
$trs-toolip-basic: opacity $trsdu-base ease-out !default;
$bxsh-toolip-basic: $bxsh-base !default;
$maw-tooltip-basic: 300px !default;

$bgc-tooltip-basic-dark: $c-white !default;
$c-tooltip-basic-dark: $c-text-base !default;
$bdc-tooltip-basic-dark: $c-gray !default;

$bgc-tooltip-basic-success: $c-white !default;
$c-tooltip-basic-success: $c-text-base !default;
$bdc-tooltip-basic-success: $c-success !default;

$bgc-tooltip-basic-error: $c-white !default;
$c-tooltip-basic-error: $c-text-base !default;
$bdc-tooltip-basic-error: $c-error !default;

$bgc-tooltip-basic-info: $c-white !default;
$c-tooltip-basic-info: $c-text-base !default;
$bdc-tooltip-basic-info: $c-accent !default;

// Thumbnail
$bgc-thumbnail-basic: $c-white !default;
$bd-thumbnail-basic: $bdw-s solid $c-gray-lightest !default;
$bdrs-thumbnail-basic: 0 !default;
$p-thumbnail-basic: $p-xxsmall !default;
$bgc-thumbnail-basic-caption: $c-black !default;
$c-thumbnail-basic-caption: $c-white !default;
$fz-thumbnail-basic-caption: $fz-h4 !default;
$trs-thumbnail-basic: $trsdu-slow ease-in-out !default;
$p-thumbnail-basic-caption: ceil($p-base / 3) !default;

// List
$m-list-gutter: $m-h !default;
