// --- Strip number --- //
// Necessary to support $fz definitions either with or without units
@use "sass:math";

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }

  @return $number;
}

// --- Fonts and typography --- //

// Font weights
$fw-semi-bold: 600 !default;

// Font sizes
$fz-base: 14 !default;
$fz-body: strip-unit($fz-base) * 1px !default;
$fz-xs: strip-unit(ceil($fz-base * 0.666)) * 1px !default;
$fz-s: strip-unit(ceil($fz-base * 0.8)) * 1px !default;
$fz-m: strip-unit($fz-base) * 1px !default;
$fz-l: strip-unit(ceil($fz-base * 1.25)) * 1px !default;
$fz-xl: strip-unit(ceil($fz-base * 1.75)) * 1px !default;

// Font sizes for headings
$fz-h1: 32px !default;
$fz-h2: 24px !default;
$fz-h3: 18px !default;
$fz-h4: 14px !default;
$fz-h5: 12px !default;

// Line heights
$lh-base: 1.715 !default;

// Text link
$td-text-link: underline !default;
$td-hover-text-link: none !default;
$fz-text-link: null !default;
