// Margins
@use 'sass:math';

$m-base: 16px !default;
$m-v: ceil($m-base * 0.5) !default; // 8px
$m-h: $m-base !default; // 16px
$m-v-xsmall: ceil(math.div($m-v, 3)) !default; // 3px
$m-h-xsmall: ceil(math.div($m-h, 3)) !default; // 6px
$m-v-small: ceil($m-v * 0.5) !default; // 4px
$m-h-small: ceil($m-h * 0.5) !default; // 8px
$m-v-large: ceil($m-v * 2) !default; // 16px
$m-h-large: ceil($m-h * 2) !default; // 32px
$m-v-xlarge: ceil($m-v * 3) !default; // 24px
$m-h-xlarge: ceil($m-h * 3) !default; // 48px

// Paddings
$p-base: 16px !default;
$p-small: ceil($p-base * 0.5) !default; // 8px
$p-xsmall: ceil(math.div($p-base, 3)) !default; // 6px
$p-xxsmall: ceil($p-base * 0.25) !default; // 4px
$p-v: ceil($p-base * 0.5) !default; // 8px
$p-h: $p-base !default; // 16px
$p-v-xsmall: ceil(math.div($p-v, 3)) !default; // 3px
$p-h-xsmall: ceil(math.div($p-h, 3)) !default; // 6px
$p-v-small: ceil($p-v * 0.5) !default; // 4px
$p-h-small: ceil($p-h * 0.5) !default; // 8px
$p-v-large: ceil($p-v * 2) !default; // 16px
$p-h-large: ceil($p-h * 2) !default; // 32px
$p-v-xlarge: ceil($p-v * 3) !default; // 24px
$p-h-xlarge: ceil($p-h * 3) !default; // 48px

// Gutter
$gutter: $p-base !default;
$gutter-s: $gutter * 0.5 !default;
