@import '@s-ui/react-atom-icon/lib/index';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #333;
  font-family: system-ui, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

header {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(3px);
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 16px 32px;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: center;

  select {
    font-size: 16px;
  }

  strong,
  select {
    margin-right: 32px;
  }

  span {
    margin-right: 8px;
  }

  select:last-child {
    margin-right: 0;
  }
}

section {
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 32px;
  text-align: center;
}

i {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 120px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 120px;
}

i:before,
i:after {
  left: 0;
  margin: 0 auto;
  opacity: 0;
  pointer-events: none;
  right: 0;
  visibility: hidden;
}

i:before {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 10px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 5px;
  overflow: hidden;
  padding: 4px 8px;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

/* Triangle hack to make tooltip look like a speech bubble */
i:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.6);
  bottom: 100%;
  content: '';
  font-size: 0;
  line-height: 0;
  position: absolute;
  width: 0;
}

i:hover {
  background: #eee;
}
/* Show tooltip content on hover */
i:hover:before,
i:hover:after {
  opacity: 1;
  visibility: visible;
}
