.sui-studio-doc-anchor {
  font-weight: $fw-sui-studio-doc-regular;
  text-decoration: underline;
  color: $c-sui-studio-doc-link;
  &.sui-studio-doc-mode-dark {
    color: $c-sui-studio-doc-dark-mode-link;
  }
}
