// sass-lint:disable no-important

// --- SUI Badge Notification --- //
// @include sui-badge-notification();
// @include sui-badge-notification($pseudo:true);
// Markup ---> data-notification-counter={5}

@mixin sui-badge-notification-element {
  background-color: $c-badge-notification;
  border: $bd-badge-notification;
  border-radius: $bdrs-rounded;
  color: $c-white;
  display: inline-block;
  font-size: $fz-xs;
  line-height: $size-badge-notification;
  margin: $m-badge-notification;
  min-height: $size-badge-notification;
  min-width: $size-badge-notification;
  padding: $p-badge-notification;
  text-align: center;
  text-shadow: $bxsh-base;
}

@mixin sui-badge-notification($pseudo: false, $top: 0, $right: 0) {
  @if $pseudo {
    position: relative;

    &::before {
      @include sui-badge-notification-element;
      content: attr(data-notification-counter);
      position: absolute;
      right: $right;
      top: $top;
    }
  } @else {
    @include sui-badge-notification-element;
    border: 0;
  }
}
