// sass-lint:disable class-name-format, no-important, no-warn

// --- SUI Card --- //
// @include sui-card;

@mixin sui-card {
  background-color: $c-white;
  border: 0;
  border-radius: $bdrs-card;
  box-shadow: $bxsh-card;
  transition: box-shadow $trs-base;

  &:hover {
    box-shadow: $bxsh-card-hover;
  }

  &:hover &-title {
    color: $c-card-title-hover;
  }

  &.is-disabled {
    opacity: 0.3;
  }

  &-media {
    position: relative;

    img {
      height: auto;
      vertical-align: bottom;
      width: 100%;
    }

    &Icon {
      @include sui-icon--xlarge;

      fill: $c-card-article-icon-fill !important;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: $z-card-article-icon;
    }
  }

  &-content {
    padding: $p-v $p-h $p-v-large;
  }

  &-title {
    @include h3;

    &--primary {
      color: $c-primary;
    }
  }

  &-description {
    font-size: $fz-m;
  }

  &-action {
    margin-top: $m-m;
  }
}

// Card sizes (modifiers)

@mixin sui-card--small {
  @warn 'Modifier deprecated. You should use `sui-card` mixin instead.';
}
