// Icon sizes

@mixin sui-icon--small {
  height: 16px;
  width: 16px;
}

@mixin sui-icon--medium {
  height: 20px;
  width: 20px;
}

@mixin sui-icon--large {
  height: 24px;
  width: 24px;
}

@mixin sui-icon--xlarge {
  height: 48px;
  width: 48px;
}
