// sass-lint:disable class-name-format

// --- SUI Input --- //
// @include sui-input;
// @include sui-input('large');

@mixin sui-input($size: 'medium') {
  @include input-placeholder {
    color: $c-input-placeholder;
    font-style: $fs-input-placeholder;
  }

  background-color: $bgc-input;
  border: 0;
  border-radius: $bdrs-input;
  box-shadow: $bd-input;
  color: $c-input;
  font-family: inherit;
  font-weight: $fw-light;
  line-height: $lh-input;
  outline: none;
  padding: $p-v $p-h;
  width: 100%;

  @if $size == 'medium' {
    font-size: $fz-base;
  }
  @if $size == 'large' {
    font-size: $fz-l;
  }

  &:hover {
    background-color: $bgc-input-hover;
    box-shadow: $bd-input-hover;
    color: $c-input-hover;
  }

  &:focus {
    background-color: $bgc-input-focus;
    box-shadow: $bd-input-focus;
    color: $c-input-focus;
  }

  &.has-error {
    box-shadow: 1px solid $c-error;
  }
}
