// --- SUI Select --- //
// Markup:
// <div class="sui-selectWrap">
//   <select class="sui-select">
//     [...]
//   </select>
//   <div class="sui-selectIcon">
//   </div>
// </div>
//
// @include sui-select;
// @include sui-select('large');

@mixin sui-select($size: 'medium') {
  @include appearance(none);
  background-color: $bgc-select;
  border: 0;
  border-radius: $bdrs-base;
  box-shadow: $bxsh-select;
  display: inline-block;
  font-family: inherit;
  line-height: $lh-select;
  outline: none;
  padding: $p-v $p-h;
  width: 100%;

  @if $size == 'medium' {
    font-size: $fz-base;
  }
  @if $size == 'large' {
    font-size: $fz-l;
  }

  &-wrap {
    position: relative;
  }

  &-icon-wrap {
    background-color: $bgc-select-icon-wrap;
    border-bottom-right-radius: $bdrs-base;
    border-top-right-radius: $bdrs-base;
    bottom: 1px;
    padding: $p-select-icon-wrap;
    pointer-events: none;
    position: absolute;
    right: 1px;
    top: 1px;
    width: $w-select-icon-wrap;
  }

  &:hover {
    background-color: $bgc-select-hover;
    box-shadow: $bxsh-select-hover;
  }

  &:focus {
    background-color: $bgc-select-focus;
    box-shadow: $bxsh-select-focus;
  }
}
