// sass-lint:disable class-name-format

// --- SUI Tab --- //
// @include sui-tab;

@mixin sui-tab {
  background-color: $bgc-tab;
  border: $bd-tab;
  color: $c-tab;
  cursor: pointer;
  display: inline-block;
  font-size: $fz-m;
  font-weight: $fw-tab;
  margin-right: $mr-tab;
  padding: $p-tab;
  text-transform: $tt-tab;

  &-wrap {
    border-bottom: $bd-tab-wrap;
  }

  &:hover {
    background-color: $bgc-tab-hover;
  }

  &.is-active {
    background-color: $bgc-tab-active;
    box-shadow: $bxsh-tab-active;
    color: $c-tab-active;
  }
}
