.sui-studio-doc-button {
  background-color: $c-sui-studio-doc-g800;
  border: none;
  color: $c-sui-studio-doc-white;
  font-size: 1em;
  padding: 5px 12px;
  border-radius: 4px;
  font-weight: $fw-sui-studio-doc-medium;
  &.sui-studio-doc-mode-dark {
    background-color: $c-sui-studio-doc-dark-mode-white;
    color: $c-sui-studio-doc-base;
  }
  &:hover {
    background-color: $c-sui-studio-doc-primary;
  }
  &:active {
    background-color: $c-sui-studio-doc-primary-light;
  }
  &-outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px $c-sui-studio-doc-g800;
    color: $c-sui-studio-doc-g800;
    &.sui-studio-doc-mode-dark {
      background-color: transparent;
      box-shadow: inset 0 0 0 1px $c-sui-studio-doc-dark-mode-white;
      color: $c-sui-studio-doc-dark-mode-white;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 1px $c-sui-studio-doc-primary;
      color: $c-sui-studio-doc-primary;
    }
    &:active {
      color: $c-sui-studio-doc-primary-light;
      box-shadow: inset 0 0 0 1px $c-sui-studio-doc-primary-light;
    }
  }
  &:focus {
    outline: none;
  }
}

.sui-studio-doc-button-group {
  display: inline-flex;
  border-radius: 4px;
  .sui-studio-doc-button {
    width: 100%;
    border-radius: 0px;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  &-outline {
    .sui-studio-doc-button {
      background-color: transparent;
      padding: 5.5px 12px;
      border-style: solid;
      border-color: $c-sui-studio-doc-g800;
      border-width: 1px 0 1px 1px;
      color: $c-sui-studio-doc-g800;
      &.sui-studio-doc-mode-dark {
        background-color: transparent;
        border-color: $c-sui-studio-doc-dark-mode-white;
        color: $c-sui-studio-doc-dark-mode-white;
      }
      &:last-child {
        border-width: 1px;
      }
      &:hover {
        color: $c-sui-studio-doc-primary;
        background-color: transparent;
        border-color: $c-sui-studio-doc-primary;
        border-width: 1px;
        & + .sui-studio-doc-button {
          border-width: 1px 0 1px 0;
          &:last-child {
            border-width: 1px 1px 1px 0;
          }
        }
      }
      &:active {
        color: $c-sui-studio-doc-primary-light;
        border-color: $c-sui-studio-doc-primary-light;
      }
    }
  }
}
