name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Cancel Previous Redundant Builds
      uses: styfle/cancel-workflow-action@0.6.0
      with:
        access_token: ${{ github.token }}
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        persist-credentials: false
    - uses: actions/setup-node@v2
      with:
        node-version: 18
        registry-url: 'https://registry.npmjs.org'
    - uses: browser-actions/setup-chrome@latest
    - run: |
        ../../bin/devhose-cli_2.17.0_amd64 deployment \
          -test \
          -devhose-tenant "adevinta-spain-fe-github-sui" \
          -devhose-secret "${{ secrets.DEVHOSE_SECRET }}" \
          -devhose-dest "mpi" \
          -application "sui-components" \
          -environment "pro" \
          -facility "sdrn:adevinta:service:adevinta-spain-sui-github" \
          -id "${{ env.GITHUB_RUN_ID }}" \
          -source "github" \
          -started-at "2019-01-01T01:01:01Z" \
          -status "succeeded" \
          -target-infrastructure "npm" \
          -target-provider "npm" \
          -trigger-type "build" \
          -trigger-source "github" \
          -resource-type "github" \
          -resource-service "sdrn:adevinta:service:github" \
          -accelerate-metrics \
          -resource-scm-commit "${{ env.GITHUB_SHA }}" \
          -resource-repository "sdrn:adevinta:repo:${{ env.GITHUB_SERVER_URL }}/${{ env.GITHUB_REPOSITORY }}"
    - run: sudo apt-get install xvfb
    - run: npm install --no-save --no-fund --no-audit --legacy-peer-deps
    - run: npx -y ultra-runner --raw --recursive prepublishOnly &>/dev/null
    - run: npm run lint
    - run: npm run test:server:ci
    - run: xvfb-run --auto-servernum npm run test:client:ci
    - run: npx -p ./packages/sui-ci sui-ci release
      env:
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        GITHUB_EMAIL: cloud-accounts@scmspain.com
        GITHUB_TOKEN: ${{ secrets.GH_ACTIONS_TOKEN }}
        GITHUB_USER: sui-bot
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
